REACT_APP_API_URL=http://localhost:5000/api
GENERATE_SOURCEMAP=false
CI=false

# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=AIzaSyDUcDxLRDAMtmuvwXLDrLG2MEl7hOdGeGc
REACT_APP_FIREBASE_AUTH_DOMAIN=sri-srinivasa-boys-hoste-8e404.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=sri-srinivasa-boys-hoste-8e404
REACT_APP_FIREBASE_STORAGE_BUCKET=sri-srinivasa-boys-hoste-8e404.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=915670897560
REACT_APP_FIREBASE_APP_ID=1:915670897560:web:1a5bbb750e5424007c91ed
REACT_APP_FIREBASE_MEASUREMENT_ID=G-XX096RM64Z
